<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Problem Gen</title>
    </head>
    <body>
        <form action="/gen/getps" id="problem" method="POST">
            <input id="" type="text" name="title" placeholder="Title" required>
            <br>
            <br>
            <input id="" type="text" name="imgsrc" placeholder="Image link (if any)">
            <br>
            <br>
            <textarea id="pst" name="statement" cols="100" rows="10" placeholder="Problem Statement" required></textarea>
            <br>
            <br>
            <div class="cb">
                <input type="checkbox" name="dontBreak">
                <label for="">Print in a new page from here to avoid statement word breaks.</label>
            </div>
            <br>
            <div class="inout">
                <textarea id="In" name="In" cols="30" rows="10" placeholder="Input"></textarea>
                <textarea id="Out" name="Out" cols="30" rows="10" placeholder="Output"></textarea>
            </div>
            <br>
            <br>
            <div class="exInout">
                <textarea id="exIn" name="exampleIn" cols="30" rows="10" placeholder="Example Input"></textarea>
                <textarea id="exOut" name="exampleOut" cols="30" rows="10" placeholder="Example Output"></textarea>
            </div>
            <br>
            <br>
            <div class="exInout">
            <textarea id="In" name="constraints" cols="30" rows="10" placeholder="Constraints"></textarea>
            <textarea id="Out" name="explanation" cols="30" rows="10" placeholder="Explanation"></textarea>
            </div>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
        <br>
        <%- include("Nav") %>
    </body>
</html>
