body {
    background: beige;
}
img {
    max-width: 350px;
    height: auto;
}
@page {
    size: auto; /* auto is the initial value */
    margin: 0; /* this affects the margin in the printer settings */
}

@media print {
    a[href]:after {
        content: none;
    }
    .pagebreak {
        page-break-before: always;
    }
}
@font-face {
    font-family: "typewr";
    src: url("Kingthings Trypewriter 2.ttf");
}
* {
    font-family: "typewr";
}
p,
h4 {
    white-space: pre-wrap;
    word-break: break-word;
}
#title {
    text-align: center;
}
#state {
    font-size: 3.5vh;
}
.data {
    font-size: 2vh;
}
